.emptyTrolley h3{

     font-size: medium;
}

.emptyTrolley {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.emptyTrolleyImg {
    height: 25rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.goShopping {
    padding: 1rem;
    margin-top:2rem;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 0.5rem;
    border: none;
    width: auto;
    color: #fff;
    font-size: small;
    font-weight: bold;
    transition: all 0.3s ease;
    background: var(--buttons);

}

.goShopping:hover {
    color: var(--secondary);
}

.calculate {
    margin-top: 2rem;
}

.total {
    font-size: medium;
    margin-top: 2rem;
    color: var(--warnings);
}

.toPagos {
    font-size: medium;
    margin-top: 2rem;
    cursor: pointer;
    background-color: transparent;
    border: 1 solid var(--highlights);
    padding: .5rem;
}

.emptyTrolley {
    border: none;
    height: 3rem;
}

.deleteAll {
    border: 0.2rem solid var(--secondary);
    background-color: transparent;
    cursor: pointer;
    width: 3.5rem;
    margin-left: 40rem;
}

.deleteAll:hover {
    border: 0.2rem solid var(--warnings);
}

.summingTotal {
    display: flex;
    flex-direction: column;
}

.cartError {
    margin-top: 2rem;
    font-weight: bold;
    font-size: small;
}

.errorAddress {
    margin-top: 2rem;
    font-weight: bold;
    font-size: small;
}

@media (max-width: 910px) {
    .deleteAll {
        margin-left: 30rem;
    }
}