.menuContainer {
  margin-top: 1rem; 
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid var(--secondary);
  border-radius: 0.4rem;
  padding: 1px;
  width: auto;

}

.dashContainer {
  display: flex;
  background-color: var(--primary);
  position: relative;
  margin: 0.5rem 20rem 1rem 1rem;
  padding: 1rem;
  background-color: transparent;
}


.secondaryContainer h3{
  margin-bottom: 1.5rem;
   font-size: xx-large;
   text-align: center;
 }
 


.listContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    padding-left: 30rem;
}

  .nameContainer {
    width: 100%; /* Set the width to 100% to take the full width of the parent */
    display: flex;
    justify-content: center; /* Horizontally center the content inside nameContainer */
  }
  
  
  .customButton {
    background-color: var(--buttons);
    color: var(--primary);
    padding: 1.5rem 1rem;
    border: none;
    border-radius: 0.4rem;
    font-size: 1.8rem;
    margin-bottom: 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
    width: 200px !important;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
  .customButton:hover {
    background-color: var(--secondary);
    color: var(--buttons);
  }
  
  .componentContainer {
    width: 26%;
    min-height: 0; /* Use min-height instead of height */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border: 2rem solid var(--secondary);
    border-radius: 0.4rem;
    background-color: var(--primary);
  }
  
  .activeComponent {
    width: 95%;
    align-self:baseline;
  }
  
  .secondaryContainer {
    width: 28%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
  }

  @media (max-width: 1600px) {
    .dashContainer {
         margin: 0.5rem 10rem 1rem 1rem;
        }
  }

  @media (max-width: 1200px) {
    .dashContainer {
         margin: 0.5rem 5rem 1rem 1rem;
        }
  }
  

  
  @media (max-width: 768px) {
    .userProfileContainer {
      flex-direction: column;
    }

 
    .menuContainer {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      align-self: flex-start;
      margin-bottom: 5px;
    }

    .dashContainer {
      flex-direction: column; /* Cambia la dirección a una columna en dispositivos pequeños */
      align-items: center; /* Centra los elementos horizontalmente en la columna */
      margin: 0.5rem 1rem 1rem 1rem; /* Ajusta el margen para dispositivos pequeños */
    }

    .secondaryContainer {
      order: -1; /* Cambia el orden del .secondaryContainer para que aparezca arriba */
      margin-bottom: 1rem;
    }
  
    .componentContainer {
      top: 0;
      right: 0;
      width: 100%;
      height: auto;
    }
    
    .menuPalabra{
        padding-top: 2rem;
        forced-color-adjust: 2rem;
      }
  }
  