.userProfileContainer {
  display: flex;
  align-items: flex-start;
  position: relative;
  padding: 20px;
  margin: 0; /* Agrega esto */
}

.secondaryContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
}

.nameContainer {
  width: 75%; 
  display: flex;
  justify-content: center; 
  margin-right: 0;
}

.menuContainer {
  margin-top: 20px; 
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border: 6px solid var(--secondary);
  border-radius: 0.4rem;
  background-color: var(--secondary);
  padding: 2rem;
  width: fit-content;
}

.customButton {
  background-color: var(--buttons);
  color: var(--primary);
  padding: 1.5rem 3rem;
  border: none;
  border-radius: 0.4rem;
  font-size: 1.8rem;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
  width: 100%;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.customButton:hover {
  color: var(--secondary);
}

.componentContainer {
  width: 100%;
  margin-right: 5rem;
  min-height: 0; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-radius: 0.4rem;
  background-color: var(--secondary);
}

.activeComponent {
  width: 80%;
  align-self: center;
}

.secondaryContainer {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
}


@media (max-width: 980px) {
  .userProfileContainer {
    flex-direction: column;
    align-items: center; 
  }

  .menuContainer {
    flex-direction: row; 
    gap: 1rem;
    justify-content: center; 
    margin-bottom: 1rem; 
    width: 94%; 
  }

  .customButton {
    white-space: nowrap; 
    font-size: medium; 
    padding: 1rem 1rem; 
    width: auto; 
    text-align: center; 
    overflow: hidden; 
    text-overflow: ellipsis; 
  }

  .componentContainer {
    width: 98%;
    margin-right: 0;
    border: 0; 
    padding: 1rem 0; 
  }

  .nameContainer {
    width: 100%; 
    justify-content: center; 
    text-align: center; 
  }

  .secondaryContainer {
    width: 100%; 
    padding: 1rem 0; 
  }
}

@media (max-width: 530px) {
  .userProfileContainer {
    flex-direction: column;
    align-items: center; 
    margin-right: 2rem;
  }

  .menuContainer {
    flex-direction: row; 
    gap: 1rem;
    justify-content: center; 
    margin-bottom: 1rem; 
    width: 94%; 
  }

  .customButton {
    white-space: nowrap; 
    font-size: small; 
    padding: 1rem 1rem; 
    width: auto; 
    text-align: center; 
    overflow: hidden; 
    text-overflow: ellipsis; 
  }

  .componentContainer {
    width: 90%;
    margin-right: 0;
    border: 0; 
    padding: 1rem 0; 
  }

  .nameContainer {
    width: 100%; 
    justify-content: center; 
    text-align: center; 
  }

  .secondaryContainer {
    width: 100%; 
    padding: 1rem 0; 
  }
}


@media (max-width: 400px) {
  .userProfileContainer {
    flex-direction: column;
    align-items: center; 
    margin-right: 4rem;
  }

  .menuContainer {
    flex-direction: row; 
    gap: 1rem;
    justify-content: center; 
    margin-bottom: 1rem; 
    width: 94%; 
  }

  .customButton {
    white-space: nowrap; 
    font-size: xx-small; 
    padding: 1rem 0.2rem; 
    width: 12rem; 
    text-align: center; 
    overflow: hidden; 
    text-overflow: ellipsis; 
  }

  .componentContainer {
    width: 90%;
    margin-right: 0;
    border: 0; 
    padding: 1rem 0; 
  }

  .nameContainer {
    width: 100%; 
    justify-content: center; 
    text-align: center; 
  }

  .secondaryContainer {
    width: 100%; 
    padding: 1rem 0; 
  }
}

