.userLogin {
  display: flex;
  cursor: pointer;
  margin-right: 5rem;
  position: relative; /* Añadir posición relativa al contenedor */
}

.UserIcon {
  width: 3rem;
  height: 3rem;
  margin-right: 2rem;
  color: #dddddd; 
  transition: all 0.5s ease;
}

.UserIcon:hover{
  transform: scale(1.12);
  color: #dbdbdb;
}

/* Menu desplegable Icono */
.UserMenu {
  position: absolute;
  top: 103%;
  right: 50%;
  transform: translateX(40%);
  width: 8rem;
  background-color: #f9f9f9;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  padding: 0.5rem;
  z-index: 1;
  display: none; /* Ocultar el menú por defecto */
}

.UserIconLoggedIn {
  width: 3rem;
  height: 3rem;
  margin-right: 2rem;
  transition: all 0.5s ease;
}

.UserIconLoggedIn:hover{
  transform: scale();
}

.userLogin:hover .UserMenu {
  display: block; /* Mostrar el menú al pasar el cursor sobre el icono */
}

.UserMenu button {
  display: block;
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
}


.UserMenu button:hover {
  background-color: #f4c434;
}


.UserMenuAnimation-enter {
  opacity: 0;
  transform: translateY(-10px);
}

.UserMenuAnimation-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}

.UserMenuAnimation-exit {
  opacity: 1;
}

.UserMenuAnimation-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}