.divButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 1rem 0; 
  background-color: var(--secondary);
  padding: 1.7rem;
}

.divButtons button {
  margin-right: 1rem;
  font-size: 1.3rem;
  font-weight: bold;
  border: none;
  border-radius: 0.5rem;
}

.button {
  display: inline-block;
  padding: 1rem 1.2rem;
  background-color: rgb(245, 232, 232);
  color: gray;
  font-size: 1.3rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: background-color 0.1s ease;
  margin: 0 2px;
}

.buttonActual{
  transform: scale(1.2);
  background-color: var(--buttons);
  color: var(--primary);
}

.button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

/*Anterior y Siguiente*/
.AnteriorSiguiente {
  padding: 1rem 1.2rem;
  cursor: pointer;
  background-color: transparent;
  color: var(--buttons);
}

.AnteriorSiguiente:disabled {
  cursor: not-allowed;
  color: transparent;
}

.button:disabled {
  background-color: #dddddd;
  cursor: not-allowed;
  font-size: 1.3rem;
  font-weight: bold;
  border: none;
  border-radius: 3rem;
}

.button:active {
  background-color: white;
  padding: 1rem 1.2rem;
  color: #000000;
  cursor: pointer;
}