.userDetails {
    display: flex;
    justify-content: space-around;
    margin-top: 5rem;
}

.logOn,
.register {
    border: 0.1rem solid var(--secondary);
    border-radius: 1rem;
    height: 4rem;
    width: 15rem;
    margin-right: 2rem;
    text-transform: uppercase;
}

.logOn:hover,
.register:hover {
    transform: scale(1.1);
    background: var(--secondary);
    color: var(--primary);
}

.noUser {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.mje {
    margin-top: 2rem;
    font-size: larger;
    margin-bottom: 2rem;
}



@media (max-width: 910px) {
    .userDetails {
        width: auto;
        display: flex;
        gap: 2rem;
        margin-left: 5rem;
    }
}

@media (max-width: 910px) {
    .userDetails {
        display: flex;
        flex-direction: column;
        gap: 2rem
    }
}