.orderingContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around; 
  align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.alphabeticalyByPrice {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-radius: 0.7rem;
  align-items: center;
  color: rgba(0, 0, 0, .9);
  border: 1px solid var(--secondary);
  margin-bottom: 1rem;
  margin-right: 2rem; 
  width: 27rem;
}

.alphabeticalyByPrice select {
  border: none;
  font-size: medium;
  cursor: pointer;
  background-color: transparent;
}

.orderTitle {
  font-size: medium;
}

@media screen and (max-width: 800px) {

  .alphabeticalyByPrice {
    width: auto; /* Hacer que el ancho sea automático */
    margin-right: 0; /* Quitar el margen derecho */
    margin-bottom: 0.5rem; /* Ajustar el margen inferior */
  }

  .alphabeticalyByPrice select {
    font-size: small; /* Reducir el tamaño de fuente para dispositivos más pequeños */
  }

  .orderTitle{
    font-size: small;
  }
}

@media screen and (max-width: 530px) {
  .orderingContainer {
    flex-direction: column;
    align-items: center;
  }

  .alphabeticalyByPrice {
    width: auto; /* Hacer que el ancho sea automático */
    margin-right: 0; /* Quitar el margen derecho */
    margin-bottom: 0.5rem; /* Ajustar el margen inferior */
  }

  .alphabeticalyByPrice select {
    font-size:xx-small; /* Reducir el tamaño de fuente para dispositivos más pequeños */
  }
}