
.title {
    padding: 10px;
    width: 100%; 
    color: var(--primary);
    font-size: large;
  }

  .container {
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 1rem;
  display: inline-block;
  width: calc(100% - 20px); /* Cambiamos el ancho al 50% */
  box-sizing: border-box;
  justify-content: center;
  font-size: medium;
  background-color: var(--primary);
  }

 
  .button, .buttonModificar, .buttonCargar{
    padding: 1rem;
    margin-top:2rem;
    margin-left: 1rem;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 0.5rem;
    border: none;
    width: auto;
    color: #fff;
    font-size: small;
    font-weight: bold;
    transition: all 0.3s ease;
    background: var(--buttons);
  }

  .buttonModificar{
    background: var( --warnings);
  }

  .buttonModificar:hover{
    border: 1px solid #f4c434;
  }
  
  .button:hover, .buttonCargar:hover {
    color: var(--secondary);
  }

  .optionInput select{
    height: 4rem;
    margin-bottom: 2rem;
  }

  .alignAddress{
    text-align: left;
  }

