  
  .button input, .button2 {
    padding: 1rem;
    margin-top:2rem;
    margin-right: 2rem;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 0.5rem;
    border: none;
    width: auto;
    color: #fff;
    font-size: small;
    font-weight: bold;
    transition: all 0.3s ease;
    background: var(--buttons);
  }
  
  .button input:hover, .button2:hover {
    color: var(--secondary);
  }

