.navBar {
    background-color: var(--secondary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 9.7rem;
    width: 100%;
    padding: 1rem;
}

.toHome,
.cartBtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: all 0.5s ease;

}

.cartBtn:hover{
    transform: scale(1.1);
}


.cartBtnIcon {
    height: 3rem;
    padding: 3rem;
}


.lightCartIcon {
    color: #e9e9e9; 
    transition: all 0.5s ease;
  }

  .lightCartIcon:hover{
    transform: scale(1.1);
    color: #dbdbdb;
  }
  

.toHome {
    height: 9.5rem;
    width: auto;
    margin-left: 6rem;
    margin-top: 0.3rem;
}

.logOnCart {
    display: flex;
    align-items: center;
}


.register {
    background-color: var(--buttons);
    color: #dddddd;
    font-weight: bold;
    border: 0.2rem solid var(--buttons);
    border-radius: 0.5rem;
    height: 4rem;
    width: 15rem;
    margin-right: 2rem;
    text-transform: uppercase;
    transition: all 0.3s ease; /*  suavizar el cambio */
}

.register:hover {
     color: var(--secondary); 
     -webkit-box-shadow: 0px 0px 4px 0px rgba(89,89,89,1);
     -moz-box-shadow: 0px 0px 4px 0px rgba(89,89,89,1);
      box-shadow: 0px 0px 5px 0px rgba(89,89,89,1);
}

.searchBar {
    background-color: var(--primary);
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Media queries for responsive design */
@media screen and (max-width: 1600px) {
    .navBar {
        justify-content: space-around;
    }

    .toHome {
        margin-left: 1rem;
    }

    .logOnCart {
        margin-right: 1rem;
    }
}

@media screen and (max-width: 1100px) {
    .toHome {
        height: 6.5rem;
        margin-left: 1rem;
        margin-top: 0.3rem;
    }

    .searchBar {
        margin-right: 1rem;
    }

    .register {
        width: 10rem;
        margin-right: 1rem;
    }

    .cartBtn {
        margin-right: 1rem;
    }

    .userLogin {
        height: 3rem;
    }
}

@media screen and (max-width: 800px) {
    .navBar {
        flex-direction: column;
        height: auto;
    }

    .toHome,
    .searchBar {
        margin: 1rem 0;
    }

    .logOnCart {
               margin-top: 1rem;
    }
    
    .register{
        margin-left: 7rem;
    }
}

