
.profilecontainer {
    padding: 4rem;
    margin: 4rem;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 1.5;
    border-radius: 0.5rem;
    background-color: var(--primary);
    font-size: large;
  }

  .title {
  padding: 10px;
  width: 100%; 
  font-size:large;
  box-sizing: border-box; 
  color: var(--primary);
}

  .boton {
    margin: 3.5rem 0;
  }
  
  .boton {
    width: 50%; 
    height: 4.5rem;
    border-radius: 0.5rem;
    border: none;
    color: #fff;
    font-size: 1.8rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    background: var(--buttons);
  }
  
  .boton:hover {
    background: linear-gradient(-135deg, #525353, #383939);
    color: var(--secondary);
  }