.cartForm {
    /* border: 1px solid var(--highlights); */
    /* padding: 2rem; */
    display: flex;
    flex-direction: column;
    background-color: var(--secondary);
    padding: 2.5rem 3rem;
    border-radius: 0.5rem;
    width: fit-content;
}

.title {
    font-size: 2.5rem;
    font-weight: bold;
    position: relative;
}

.labelForm {
    font-size: medium;
}

.inputGral {
    border: 0.1rem solid var(--highlights);
    font-size: medium;
    width: 28rem;
    margin: 1rem;
    height: 2rem;
}

.goShopping {
    padding: 1rem;
    margin-top:2rem;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 0.5rem;
    border: none;
    width: auto;
    color: #fff;
    font-size: small;
    font-weight: bold;
    transition: all 0.3s ease;
    background: var(--buttons);

}

.goShopping:hover {
    background: linear-gradient(-135deg, #525353, #383939);
    color: var(--secondary);
}


@media (max-width: 770px) {
    .cartForm {
        padding: 0.2rem;
        padding-right: .8rem;
        margin-left: 1rem;
    }
}