.container {
  max-width: 70rem;
  width: 100%;
  background-color: var(--secondary);
  padding: 2.5rem 3rem;
  padding-left: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  margin: 3rem auto 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--button);
  transition: all 0.5s ease;
}

.container:hover{
  -webkit-box-shadow: 0px 0px 6px 0px rgb(0, 0, 0);
  -moz-box-shadow: 0px 0px 6px 0px rgb(0, 0, 0);
   box-shadow: 0px 0px 6px 0px rgb(0, 0, 0);
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  position: relative;
}

.content form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 2rem 0 1.2rem 0;
  font-size: medium;
}

.user-details .input-box {
  margin-bottom: 1.5rem;
  width: calc(90% / 2 - 2rem);
  margin-left: 2rem;
  margin-right: 2rem;
}

.user-details .input-box span.details {
  display: block;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.user-details .input-box input {
  height: 4.5rem;
  width: 100%;
  outline: none;
  font-size: 1.6rem;
  border-radius: 0.5rem;
  padding-left: 1.5rem;
  border: 0.1rem solid #ccc;
  border-bottom-width: 0.2rem;
  transition: all 0.3s ease;
}

.user-details .input-box input:hover {
  border-color: #515755;
}

.user-details .input-box input.error-border {
  border-color: red;
}

.user-details .input-box input.error-border:focus {
  border-color: red;
  box-shadow: 0 0 5px red;
}

.category {
  display: flex;
  width: 80%;
  margin: 1.4rem 0;
  justify-content: space-between;
}

.category label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.category label .dot {
  height: 1.8rem;
  width: 1.8rem;
  border-radius: 50%;
  margin-right: 1rem;
  background: #d9d9d9;
  border: 0.5rem solid transparent;
  transition: all 0.3s ease;
}

#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two {
  background: #515755;
  border-color: #d9d9d9;
}

input[type="radio"] {
  display: none;
}

.button {
  height: 4.5rem;
  margin: 3.5rem 0;
}

.button input {
  height: 100%;
  width: 50%;
  background-color: var(--buttons);
  color: #dddddd;
  font-weight: bold;
  border: 0.2rem solid var(--buttons);
  border-radius: 1rem;
  margin-right: 2rem;
  text-transform: uppercase;
  transition: all 0.3s ease; /*  suavizar el cambio */

}

.button input:hover {
  color: var(--secondary);
  -webkit-box-shadow: 0px 0px 4px 0px rgba(89,89,89,1);
  -moz-box-shadow: 0px 0px 4px 0px rgba(89,89,89,1);
   box-shadow: 0px 0px 5px 0px rgba(89,89,89,1);
}

.error {
  color: red;
}

@media (max-width: 768px) {
  .container{
    width: 60%;
  }
  .user-details .input-box {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .user-details .input-box span.details {
    text-align: center; 
  }

  .category {
    flex-direction: column;
  }

  .category label {
    margin-bottom: 1rem; 
  }

  .button {
    margin: 2.5rem 0;
  }

  .title {
    font-size: 2
    rem;
  }

  .user-details .input-box input {
    height: 3.5rem;
    font-size: 1.4rem;
  }

  .button input {
    font-size: 1.6rem;
  }
}


/* .container {
  max-width: 70rem;
  width: 100%;
  background-color: var(--secondary);
  padding: 2.5rem 3rem;
  padding-left: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  margin: 3rem auto 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--primary);
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  position: relative;
}

.content form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 2rem 0 1.2rem 0;
  font-size: medium;
}

.user-details .input-box {
  margin-bottom: 1.5rem;
  width: calc(90% / 2 - 2rem);
  margin-left: 2rem;
  margin-right: 2rem;
}

.user-details .input-box span.details {
  display: block;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.user-details .input-box input {
  height: 4.5rem;
  width: 100%;
  outline: none;
  font-size: 1.6rem;
  border-radius: 0.5rem;
  padding-left: 1.5rem;
  border: 0.1rem solid #ccc;
  border-bottom-width: 0.2rem;
  transition: all 0.3s ease;
}

.user-details .input-box input:hover {
  border-color: #515755;
}

.user-details .input-box input.error-border {
  border-color: red;
}

.user-details .input-box input.error-border:focus {
  border-color: red;
  box-shadow: 0 0 5px red;
}

.category {
  display: flex;
  width: 80%;
  margin: 1.4rem 0;
  justify-content: space-between;
}

.category label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.category label .dot {
  height: 1.8rem;
  width: 1.8rem;
  border-radius: 50%;
  margin-right: 1rem;
  background: #d9d9d9;
  border: 0.5rem solid transparent;
  transition: all 0.3s ease;
}

#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two {
  background: #515755;
  border-color: #d9d9d9;
}

input[type="radio"] {
  display: none;
}

.button {
  height: 4.5rem;
  margin: 3.5rem 0;
}

.button input {
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
  border: none;
  color: #fff;
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  background: linear-gradient(135deg, #acadad, #515755);
}

.button input:hover {
  background: linear-gradient(-135deg, #acadad, #515755);
}

.error {
  color: red;
}

@media (max-width: 768px) {
  .user-details .input-box {
    width: 100%;
  }

  .user-details .input-box span.details {
    text-align: center; 
  }

  .category {
    flex-direction: column;
  }

  .category label {
    margin-bottom: 1rem; 
  }

  .button {
    margin: 2.5rem 0;
  }

  .title {
    font-size: 2rem;
  }

  .user-details .input-box input {
    height: 3.5rem;
    font-size: 1.4rem;
  }

  .button input {
    font-size: 1.6rem;
  }
} */
