.searchBar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    border-radius: 0.25rem;
 
    background-color: var(--primary);
    
    -webkit-box-shadow: 0px 0px 5px 0px rgba(176, 176, 176, 1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(176, 176, 176, 1);
    box-shadow: 0px 0px 5px 0px rgba(176, 176, 176, 1);

}

.searchBar span {
    font-size: 3rem;
    margin:0.5rem 0rem 0.75rem 0rem ;
    font-weight: lighter;
    color: rgb(219, 210, 210);
}

.searchBar input {
    align-items: center;
    height: 3rem;
    width: 29rem;
    font-size: medium;
    margin: 0.5rem;
    transition: border-color 0.3s ease;
    outline: none;
}

.searchBar input::placeholder{
    font-size: small;
}

.searchBar input:focus {
    border: solid 1px black; 
}

.input,
.lupa,
.onSearch {
    border: none;
    background-color: transparent;
}

.lupa {
    width: 2rem;
    margin: 1rem;
    cursor: pointer;
    color: gray;
}



@media (max-width: 480px) {

    .searchBar {
        width: 30rem;
    }

    .input {
        width: 5rem;
    }

  }