.overallCompra {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.detallesTotal,
.toPay {
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
}

.prodDetails {
    display: flex;
    gap: 2rem;
    justify-content: space-around;
    align-items: center;
    border: 0.1rem solid var(--highlights);
    padding: 1rem;
    margin-bottom: 2rem;
}

.imgProd {
    height: 5rem;
}

.elige {
    margin: 3rem;
}

.buttonPay {
    border: none;
    width: 20rem;
    cursor: pointer;
    margin-bottom: 3rem;
}

.checkOutbtn {
    margin-top: 3rem;
    width: 30rem;
    cursor: pointer;
}

.titulo{
    margin-top: 2rem;
    color: var(--warnings);
}

.userDetails h4{
    color: var(--warnings);
}

.userDetails,
.prodDetails {
    padding: 4rem;
    border: 0.1rem solid var(--buttons);
    border-radius: 0.5rem;
    font-size: medium;
    text-align: left;
}

.nameMiniProd {
    font-size: small;
    font-weight: 600;
}

.priceMiniProd {
    font-size: small;
    font-weight: 500;
    color: var(--warnings);
}

.total {
    font-size: medium;
    margin-top: 2rem;
    color: var(--warnings);
}


.button input {
    margin-top: 2rem;
    height: 5rem;
    width: 23rem;
    border-radius: 0.5rem;
    border: none;
    color: #fff;
    font-size: medium;
    font-weight: bold;
    letter-spacing: 0.1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    background: var(--buttons);
}

.button input:hover {
    background: linear-gradient(-135deg, #525353, #383939);
    color: var(--secondary);
}

.paymentsMet {
    display: flex;
    gap: 38rem
}

.titleProducts{
    margin-top: 2rem;
}

@media (max-width: 810px) {

    .detallesTotal {
        flex-direction: column; /* Cambia la dirección de flex a columna */
        align-items: center; /* Centra los elementos en el eje principal */
        margin-top: 2rem; /* Ajusta el margen superior */
    }
    .userDetails,
    .prodDetails {
        padding: 2rem; /* Reduce el espacio de relleno */
    }

    .buttonPay,
    .mercadoPago {
        width: 30rem;
        height: auto;
        margin-bottom: 3rem;
        background-color: transparent;
        align-items: center;
    }

    .checkOutbtn {
        margin-top: 2rem;
        width: 25rem;
    }
}